*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
.mainDiv{
    width: 430px;
    height: 430px;
    background-color: rgb(5, 5, 146);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.buton{
    width: 90%;
    height: 10%;
    background-color: orange;
    display: block;
    border: none;
}
i{
    color: black;
    background-color: yellow;
    border-radius: 80%;
    font-size: 200px;
}
.pg{
    padding-left: 10px;
}
